/gec-auth-parent/gec-service-system/target
/gec-auth-parent/gec-common/service-util/target
/gec-auth-parent/gec-model/target
/gec-auth-parent/gec-common/common-util/target
/gec-auth-parent/gec-service-system/src/test
/gec-auth-parent/gec-common/auth-security/target
gec-auth-parent/gec-service-system/src/main/resources/application-dev.yml
