<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanxige.mapper.system.SysMovieMapper">


    <resultMap id="MovieMap" type="com.lanxige.model.system.SysMovie" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id
        ,`name`,cid,description,keyword,director,image,play_id,create_time,update_time,is_deleted
    </sql>

    <select id="selectPage" resultMap="MovieMap">
        select
        <include refid="columns"/>
        from sys_movie
        <where>
            <if test="vo.name != null and vo.name != ''">
                and `name` like CONCAT('%',#{vo.name},'%')
            </if>
            <if test="vo.cid!=null">
                and cid = #{vo.cid}
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>

    <!--  查询电影趋势  -->
    <select id="selectMovieTrend" resultType="com.lanxige.model.vo.DayCountVo">
        SELECT DATE (create_time) AS day, COUNT(*) AS count
        FROM sys_movie
        WHERE is_deleted = 0
          AND create_time >= DATE_SUB(CURDATE()
            , INTERVAL 6 DAY)
        GROUP BY DATE (create_time);
    </select>

    <!--  查询电影总数  -->
    <select id="selectTotalMovieCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_movie
        WHERE is_deleted = 0;
    </select>

    <select id="selectHotVideos" resultType="com.lanxige.Rsp.AllVideoInfoRsp">
        SELECT m.id,
               m.name       AS title,
               m.director   AS author,
               s.play_count AS views,
               m.image      AS coverUrl,
               m.cid        AS category
        FROM sys_movie m
                 LEFT JOIN video_stat s ON m.id = s.video_id
        WHERE m.is_deleted = 0
          AND m.is_approval = '1'
        ORDER BY s.like_count DESC LIMIT 5
    </select>

    <select id="selectHotWatchVideos" resultType="com.lanxige.Rsp.AllVideoInfoRsp">
        SELECT
            m.id,
            m.name AS title,
            m.director AS author,
            s.visit_pv AS views,
            m.image AS coverUrl,
            m.cid AS category
        FROM sys_movie m
                 LEFT JOIN video_stat s ON m.id = s.video_id
        WHERE m.is_deleted = 0
          AND m.is_approval = '1'
        ORDER BY s.visit_pv DESC
            LIMIT 10
    </select>
</mapper>