<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanxige.mapper.video.VideoLikeLogMapper">

    <resultMap id="BaseResultMap" type="com.lanxige.model.video.VideoLikeLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="video_id" property="videoId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="getUserLikeLog" resultType="com.lanxige.Req.UserInfoRsp">
        SELECT
            m.id,
            m.name AS title,
            m.image AS cover,
            l.create_time AS time
        FROM video_like_log l
            LEFT JOIN sys_movie m ON l.video_id = m.id
        WHERE l.user_id = #{userId}
          AND l.type = 'video'
          AND l.status = 1
          AND l.is_deleted = 0
          AND m.is_deleted = 0
        ORDER BY l.create_time DESC
    </select>

</mapper>