<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanxige.mapper.video.VideoWatchLogMapper">

    <resultMap id="BaseResultMap" type="com.lanxige.model.video.VideoWatchLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="video_id" property="videoId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="getUserWatchLog" resultType="com.lanxige.Req.UserInfoRsp">
        SELECT
            m.id,
            m.name AS title,
            m.image AS cover,
            w.create_time AS time
        FROM video_watch_log w
            LEFT JOIN sys_movie m ON w.video_id = m.id
        WHERE w.user_id = #{userId}
          AND w.is_deleted = 0
          AND m.is_deleted = 0
        ORDER BY w.create_time DESC
    </select>

</mapper>