<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanxige.mapper.video.VideoStatMapper">

    <resultMap id="RoleMap" type="com.lanxige.model.video.VideoStat" autoMapping="true">
    </resultMap>

    <!--  查询播放趋势  -->
    <select id="selectPlayTrend" resultType="com.lanxige.model.vo.DayCountVo">
        SELECT DATE (update_time) AS day, SUM(play_count) AS count
        FROM video_stat
        WHERE update_time >= DATE_SUB(CURDATE(), INTERVAL 6 DAY)
        GROUP BY DATE (update_time);
    </select>

    <!--  查询总播放量  -->
    <select id="selectTotalPlayCount" resultType="java.lang.Integer">
        SELECT SUM(play_count)
        FROM video_stat;
    </select>

    <!--  查询热门电影  -->
    <select id="selectHotMovie" resultType="com.lanxige.Rsp.HotMovieRsp">
        SELECT m.name       AS name,
               m.cid        AS category,
               s.play_count AS views
        FROM video_stat s
                 LEFT JOIN sys_movie m
                           ON m.id = s.video_id
        WHERE s.is_deleted = 0
          AND m.is_deleted = 0
        ORDER BY s.play_count DESC LIMIT 5
    </select>

</mapper>